<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="GET" action="/new">
      <button type="submit">Post new message</button>
    </form>

    <main class="messages">
      <% for (let i = messages.length - 1; i >= 0; i--) { %>
        <div class="message">
          <h4><%= messages[i].original_poster %></h4>
          <h5><%= messages[i].date_posted %></h5>
          <p><%= messages[i].text %></p>
        </div>
      <% } %>
    </main>
  </body>
</html>
